*{
    font-family: 'Noto Sans Symbols 2', sans-serif;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
}
.wrapper{
    height: auto;
    width: auto;
}

.nav_container{
    user-select: none;
    height: 3.5rem;
    background-color: rgb(2, 2, 2);
    margin: auto;
    width: 100%;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 1px 15px #86868656;
}

.nav_content_container{
    padding-top: 20px;
    font-size: 17.55px;
    color: #FFFF33;
    padding-left: 20px;
}

.nav_menu_bars{ display: none; }

.nav_content_container a{
    text-decoration: none;
    color: #FFFF33;
    margin: 15px;
}

.nav_content_container a:hover{
    color: #ffffff;
    border-bottom: solid #FFFF33;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #FFFF33;
    top: 0;
    margin: 6px 0;
    transition: 0.4s;
}


.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }



.logo_container{
    width: fit-content;
    height: fit-content;
    align-content: center;
    margin: auto;
    padding-top: 6px;
    padding-left: 10px;
    float: left;
}
.content_container{
    background-color: rgb(0, 0, 0);
    height: max-content;
}

.coming_soon{
    padding-top: 20%;
    font-family: 'Train One';
    font-size: 100px;
    color: #FFFF33;
    text-align: center;
    user-select: none;
}

.coming_soon_sub_heading{
    color: white;
    padding-top: 10px;
    padding-bottom: 22%;
    margin: auto;
    width: 50%;
    font-size: 20px;
    font-family: 'Noto Sans Symbols 2', sans-serif;
    text-align: center;
    user-select: none;
}

.cursor{
    color: white;
}

.coming_soon_sub_heading::after{
    content: "|";
    font-size: 150%;
    line-height: 30px;
}

.blink_cursor::after{
    animation: blink .75s step-end infinite;
}

@keyframes blink {
    from, to { color: transparent }
    50% { color: white }
}
.sidebar{
    height: 1000px;
    float: left;
    background-color: #07050596;
    transition-duration: 1s;
    text-align: left;
    padding-left: 20px;
    font-size: 25px;
  }
  .sidebar li{
    list-style: none;
    padding-top: 4.1em;
  }
  .sidebar a{
    text-decoration: none;
    color: #FFFF33;
  }

@media only screen and (max-width: 600px){
    .nav_content_container{
        display: none;
    }

    .nav_menu_bars{
        padding-top: 10px;
        padding-right: 10px;
        float: right;
        display: block;
        color: #FFFF33;
    }
    .content_container{
        height: 1000px;
    }
}

@media only screen and (max-width: 500px){
    .coming_soon{
        padding-top: 20%;
        font-family: 'Train One';
        font-size: 50px;
        color: #FFFF33;
        text-align: center;
        user-select: none;
    }


}
