.slider_container{
    max-width: 1000px;
    position: relative;
    margin: auto;
}
.slide_img{
    width: 100%;
    height: 300px;
}
.fade{
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from{opacity: 0.5;}
    to{opacity: 1;}
}
.slides{
    display: none;;
}